server:
  port: 8080
  address: localhost
  connection-timeout: 5000
  servlet:
    context-path: /rest-garage-sample
spring:
  application:
    name: 'Rest Assured Test'
  datasource:
    url: jdbc:h2:~/test
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    database: H2
    open-in-view: true
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: create